/***************************
****************************
notification
****************************
***************************/

.notification p {
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/***************************
****************************
read
****************************
***************************/

#messages {
    padding: 0 1em;
    height: 421px;
}

.notification.read {
    color: rgb(106 118 158);
    background: none;
    box-shadow: none;
    opacity: 0.5;
}

.notification.read .comment-pretext {
    all: unset;
}

.badge {
    height: 1.65em;
    min-width: unset;
    border-radius: 3em;
    text-align: center;
    padding: 6px;
    font-size: 14px;
}

.notification .avatar {
    max-height: 3em !important;
    max-width: 3em !important;
}

.notification a.invisible {
    display: inherit;
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 555;
}