#secure {
    display: block;
    margin: 0 auto;
    height: 8em;
    width: 6em;
    background-size: cover;
    line-height: 7.8;
    border-radius: 0 !important;
    background-position: center;
}